* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: linear-gradient(to left, #31773b, #be8740bd);
}
.product__items {
  display: flex;
  max-width: 1200px;
  padding-left: 70px;
}

.product__items .img-container {
  align-self: center;
  width: 50%;
  height: 40%;
}

/* .img-container {
  display: flex;
  width: 20%;
  height: 5%;
  border-radius: 10px;
} */

.product-item-text {
  justify-content: space-between;
  text-align: center;
}
.product-item-text .price {
  font-size: 16px;
}

.product-item button {
  margin-top: 12px;
  height: 30px;
  padding: 0 12px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
}
.product-item button:hover {
  background-color: orangered;
}

/* cart */
.cart button {
  margin-top: 12px;
  height: 30px;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(236, 97, 120);
}
.cart {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.icon-close {
  padding-left: 290px;
}
.cart h2 {
  margin-bottom: 20px;
}

.cart table {
  width: 100%;
}

.cart table thead tr th:first-child {
  text-align: left;
}

.cart table tr td {
  border-bottom: 1px solid rgb(239, 112, 207);
  padding: 8px;
}

.cart table thead tr th:last-child {
  text-align: right;
}

.cart table tbody tr td:last-child {
  text-align: right;
}

.cart {
  position: fixed;
  height: 100vh;
  width: 400px;
  right: 0;
  top: 0;
  background-color: gray;
  padding: 12px 20px;
  overflow-y: scroll;
  transition: all 0.3s ease;
  right: -100%;
}

.cart i {
  cursor: pointer;
  padding-left: 30px;
}

.cart-icon i {
  cursor: pointer;
}
.cart .btn-form {
  display: flex;
}
